*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #a9f2ff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    font-size: 1.2rem;
    background-color: #005c6c;
    box-shadow: 0 5px 20px black;
}
.top-nav{
    display: flex;
    gap: 4rem;
}
.top-nav a{
    color: #000;
    font-weight: 900;
}
.top-nav a:hover{
    color: #000;
    text-decoration: underline;
}